header {
    display: flex;
    background-color:#6c757d; 
    height: 50px;
    align-items: center;
    justify-content: center;
}

H1 {
    color: white;
}
h2 {
    text-align: center;
    font-size: 1.75rem; 
}

h3 {
    color: white;}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav ul li {
    width: auto;
    height: auto;
    margin: 5px;
    padding: 10px;
}
nav ul li button {
    background-color:#6c757d;
    font-size: 1em;
    color: white;
    width: auto;
    height: 40px;
    border: solid #6c757d;
    border-radius: 5px;
    justify-content: right;
}

#icon-cog-nav {
    font-size: 1.3em;
    margin: 5px 0px 5px 10px;
    color: white;
}
section article {
    background-color: #6c757d;
    border: solid #6c757d;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 10px;
    min-height: 4Opx; 
}

.cardbottom {
    display: flex;
}

#icon-cogcard {
    font-size: 1.6em;
    color: white;
    justify-content: center;
    margin: 5px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}
main section {
    flex-basis: 22%;
}
.boutonvert {
    background-color: green;
    border: solid green;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    margin: 15px;
    height: 40px;
    width: 40px;
}

#boutonjaune {
    background-color: #ffc107;
    border:none;
    border-radius: 5px;
    justify-items: left;
    margin:10px 5px 5px;
    padding: 10px;
}

footer
{
    display: flex; 
    background-color:#6c757d; 
    height: 50px; 
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 0px;
}
#autrescartes {
    color: white;
    text-decoration: none;
}